/* Apply these styles to the modal background */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50; /* Ensure it's on top of other elements */
    scroll-behavior:unset;
  }
  
  /* Apply these styles to the modal itself */
  .modal {
    width: 60rem;
    height: 30rem;
    background: hsl(0, 0%, 100%); /* Modal background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensures modal doesn't affect the background scrolling */
  }
  
 
  .video {
    width: 100%;
    max-width: 80rem; /* Adjust the maximum width as needed */
    height: 30rem;
  }
  
  body.modal-open {
     scroll-behavior: unset;
  }
  /* Additional styles for video responsiveness can be added if necessary */
  
  @mixin transition() {
    transition: all .4s cubic-bezier(.215,.61,.355,1);
}

div {
  a {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -50px;
    margin-right: -50px;
    background-color: #ffffff;
    border-radius: 50px;
    opacity: 1;
    @include transition();
    -webkit-box-shadow: 0px 0px 30px 0px rgba(247,149,29,0.5);
    -moz-box-shadow: 0px 0px 30px 0px rgba(247,149,29,0.5);
    box-shadow: 0px 0px 30px 0px rgba(247,149,29,0.5);
    
    & > span {
      background-color: #f5a700;
      display: block;
      height: 12px;
      border-radius: 6px;
      position: relative;
      @include transition();
      position: absolute;
      top: 50%;
      margin-top: -6px;
      left: 18px;
      width: 64px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;

      span {
        display: block;
        background-color: #ed7f00;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        @include transition();
        position: absolute;
        left: 0;
        top: 0;
      }

      &.left {
        transform: rotate(45deg);
        transform-origin: center;

        .circle-left {
          @include transition();
          margin-left: 0;
        }

        .circle-right {
          @include transition();
          margin-left: 52px;
        }
      }

      &.right {
        transform: rotate(-45deg);
        transform-origin: center;

        .circle-left {
          @include transition();
          margin-left: 0;
        }

        .circle-right {
          @include transition();
          margin-left: 52px;
        }
      }
    }

    &:hover {
      & > span {
        background-color: #2faee0;
        @include transition();

        span {
          @include transition();
          background-color: #008ac9;
        }

        &.left {

          .circle-left {
            @include transition();
            margin-left: 52px;
          }

          .circle-right {
            @include transition();
            margin-left: 0;
          }
        }

        &.right {

          .circle-left {
            @include transition();
            margin-left: 52px;
          }

          .circle-right {
            @include transition();
            margin-left: 0;
          }
        }
      }
    }
  }
}